XPCHAIN_RPC_URL=http://127.0.0.1:8332
XPCHAIN_RPC_USER=rpcuser
XPCHAIN_RPC_PASSWORD=rpcpassword
XPCHAIN_NETWORK_NAME=mainnet
XPCHAIN_RPC_TIMEOUT_MS=5000
EXPLORER_DB_STATUS_URL=https://explorer.xpchain.co.kr/ext/getdbstatus
EXPLORER_DB_STATUS_TIMEOUT_MS=4000
